/* Enter your custom styles here */
.IntroTextHeader {
    font-weight: bold;
}
.HeaderBar{
    background-image: url(/resources/img/open_ui5.jpg);
    background-repeat: round;
    background-size: contain;
    background-blend-mode: luminosity;
}
.socialImage {
    opacity: 60%;
}
.socialImage:hover {
    opacity: 100%;
    transition: 1s;
}
/*
.HeaderBar ::after {
    background-image: url(/resources/img/code.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content:"";
    opacity: 0.1;
}
.cV {
    background-image: url(/resources/img/code.jpg);    
    background-repeat: no-repeat;
    background-size: cover;    
    background-blend-mode: screen;
}*/