:root {
	--link-visited: #138aeb;
	--link: #91c8f6;
}

/* Socials Bar */
.socials {
	opacity: 60%;
	transition: 0.2s;
}

.socials:hover {
	opacity: 100%;
	transition: 0.2s;
}

.setMinSeperator {
	margin: 1vw;
}

/* increase visibility of socials in dark mode */
html.sapUiTheme-sap_horizon_dark .socials {
	filter: invert()
}

/* enlarge socials on phone */
html.sap-phone .socials {
	width: 10vw !important;
}

/* Links & Links visited - in general*/
a:link {
	color: var(--link);
}

a:visited {
	color: var(--link-visited);
}

/* General Page Content */
.setMiddle {
	justify-content: center;
	margin: 0 auto;
	max-width: 1140px;
}

.title {
	font-weight: bold;
	font-size: x-large;
}

.text {
	font-size: 100%;
	line-height: 24px;
}

.keepTileTextColor * span {
	color: #1d2d3e !important;
}

.integrationcard {
	margin: 25px 25px 25px 25px
}

/* Wiki */
.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 15%;
	padding-right: 15%;
}

.sidebar .sapMALIText {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 5%;
}

.wikiImage {
	max-width: 100%;
	height: auto;
}

/* wrap the code on phone (try to make it more readable) */
html.sap-phone code {
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}
